{% extends 'myapp/base.html' %}
{% load static%}
{% block content %}
<main class="mt-10 mx-auto max-w-7xl px-4">
    <div>
        <h1 class="text-4xl">
            <span class="block">Premium</span>
            <span class="block">Non-Premium</span>
        </h1>
    </div>
</main>


{% for product in products %}
<a href="{% url 'myapp:product_detail' product.id %}">
    {{ product.name }} -> {{ product.price }} -> {{ product.description }} <br>
    <img src="{{ product.image.url }}" alt="">
</a>
{% endfor %}
{% endblock %}